# Archivos del sistema
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Logs
logs/*.log

# Archivos subidos por los usuarios
uploads/*
!uploads/.htaccess
!uploads/index.php

# Dependencias
vendor/

# Variables de entorno
.env

# Archivos temporales
*.tmp
*.bak